.form{
    width: 250px;
    height: 380px;
    background-color: black;
    position: relative;
    margin: auto;
    margin-top: 30px;
    border-radius: 10px;
    padding: 25px;
}

.form h3{
    width: 200px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    color: orange;
    font-size: 23px;
    background-color: white;
    border-radius: 10px;
    padding: 8px;
    margin-left: 10px;
}
.form input{
    color: white;
    width: 240px;
    height: 35px;
    background:transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    font-size: 15px;
    letter-spacing: 1px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

.form input:focus{
    outline: none;
}
::placeholder{
    color: rgb(21, 217, 122);
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.buttonsignUp{
    width: 250px;
    height: 40px;
    border: none;
    background-color: orange;
    margin-top: 20px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.4s ease;
}

.buttonsignUp:hover{
    background-color:orange;
}

.buttonsignUp a{
    text-decoration: none;
    color: black;
    font-weight: bold;

}

a{
    color: orange;
}

.form .link{
    color:white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    padding-top: 6px;
    text-align: center;
}


