*{
    margin: 0;
    padding: 0;

}

.main{
    width: 98%;
    height: 100vh;
    /*background-image: url(other-zdanie-arkhitektura-polosi-cherno_belii-chb-53687.jpeg);*/
    background-position: center;
    background-size: cover;
    background-color: black;

}
.navbar{
    width: 1200px;
    height: 75px;
    margin: auto;
        


    

}
.icon{
    width: 200px;
    float: left;
    height: 70px;

}

.logo{
    color: rgb(249, 123, 12);font-size: 35px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-left: 20px;
    padding-top: 10px;
    float: left;
}

.menu{

    width: 640px;
    height: 70px; 
    float: left;
    
}
ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;

}

ul li{
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 14px;
    
}

ul li a{
    text-decoration: none;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    transition: 0.4 ease-in-out;


}

ul li a:hover{
    color: black;
    background-color: orange ;
    border-radius: 5px;
}
.search1{
    width: 250px;
    float: left;
    margin-left: 110px;
    margin-top: 21px ;
    
}

.search{
    width: 180px;
    height: 40px;
    background: transparent;
    color: white;
    border:1px solid orange;
    border-right: none;
    font-size: 16px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.button2{
    width: 60px;
    height: 30px;
    background: orange;
    border: 2px solid orange;
    color: white;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;

}

.button2:focus{
    outline: none;
}

.search:focus{
    outline: none;
}

.content{
    float: left;
    color: white;
    width: 1200px;
    height: auto;
    margin: auto;
    position: relative;
}

.content span{
    color: orange;
    font-size: 60px;
}

.content .paragraf{
    padding-left: 20px;
    padding-bottom: 20px;
    letter-spacing: 1.2px;
    line-height: 30px;
}

.content h1{
    font-size: 50px;
    padding-left: 20px;
    margin-top: 10%;
    letter-spacing: 2px;
}

.content .buttoncontactus{
    width: 120px;
    height: 30px;
    background: orange;
    border: none;
    margin-left: 20px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    transition: .4s ease;

}

.content .buttoncontactus a{
    text-decoration: none;
    color: black;
    transition: .3s ease;

}

.buttoncontactus:hover{
    background-color:lightgreen;
    
}

.form{
    width: 250px;
    height: 380px;
    background-color: black;
    position: absolute;
    margin: auto;
    top: 5px;
    left: 900px;
    
    border-radius: 10px;
    padding: 25px;
}

.form h3{
    width: 200px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    color: orange;
    font-size: 23px;
    background-color: white;
    border-radius: 10px;
    padding: 8px;
    margin-left: 10px;
}

.form input{
    color: white;
    width: 240px;
    height: 35px;
    background:transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    font-size: 15px;
    letter-spacing: 1px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
.form input:focus{
    outline: none;
}
::placeholder{
    color: rgb(21, 217, 122);
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.button{
    width: 250px;
    height: 40px;
    border: none;
    background-color: orange;
    margin-top: 30px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.4s ease;
}



.button:hover{
    background-color: rgb(101, 247, 138);
}

.form .link{
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 17px;
    padding-top: 15px;
    text-align: center;
}


.button a{
    text-decoration: none;
    color:black;
    font-weight: bold;
}

a{
    color: orange;
}

.liw{
    color: aliceblue;
    padding-top: 15px;
    padding-bottom: 10px;
    text-align: center;
}
/*product section*/


    
.product{
   
    border-top: 4px solid orange;
    padding: 120px;
    position: relative;
    background-color:#161515;


}

.section-header{
    text-align: center;
    max-width: 700px;
    margin: 0 auto 70px;
    color: white;
}

.section-subtitle{
    font-size: 20px;
    color: rgb(172, 144, 32);
    margin-bottom: 15px;
}

.section-title{
    font-size: 42px;
    color: orange;
    margin-bottom: 20px;
    position: relative;
    display: inline-block;

}

.section-title::after{
    content: "";
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translate(-50%);
    width: 80px;
    height: 3px;
    background-color: rgb(13, 13, 13);

}

.product-desc{
    font-size: 18px;
    color: lightslategrey;
}

.product-grid{
    
    display: flex;
    display: grid;
    grid-template-columns:repeat( auto-fit,minmax ( 100px, 1fr) );
     justify-content:space-around;




}

.product-card{
    background-color: rgb(58, 56, 52);
    border-radius: 15px;
    overflow: hidden;
    transition: all o.4s ease;
    position: relative;
    top: 0;

    
}

.product-card:hover{
    transform: translate(-10px);
    border: 2px solid rgb(2, 2, 2);

}

.product-img{
    height: 200px;
    overflow: hidden;

}
.product-img img{
    
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translate 0.5s ease;

}

.product-card:hover .product-img img{
    transform: scale(1.0s) ;

}


.product-information{
    padding: 25px;
    position: relative;

}

.product-tag{
    position: absolute;
    top: -20px;
    right: 25px;
    background-color: red;
    color: white;
    padding: 0px 10px;
    border-radius: 20px;
    font-weight: 600;
    font-size: 14px;

}


.product-title{
    font-size: 24px;
    color: white;
    margin-bottom: 10px;
    
}
.product-desc{
    color: white;
    margin-bottom: 20px;
    font-size: 14px;

}

.product-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.product-price{
    font-size: 24px;
    font-weight: 700;
    color:red;

}


.rating{
    font-size: 16px;
    color: red;

}

h2, h2 ,h3, h3{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 700;  
    letter-spacing: 0.5px;
}


/* footer */
footer{
    background-color: rgb(71, 46, 8);
    color: white;
    padding: 60px  30px;
    position: relative;
    border-top: 4px solid orange;
    
}
.footer-content{
    display: flex;
    /*grid-template-columns: repeat(auto-fit, minmax(225px , 1fr));*/
    justify-content: space-between;
    padding-right: 70px;
    padding-left:20px;
    margin-bottom: 50px;
}

.footer-column h3{
    font-size: 22px;
    margin-bottom: 25px;
    position: relative;
    padding-bottom: 15px;
}

.footer-column h3::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 50px;
    height: 2px;
    background-color:orange;
    
}

.footer-links{
    list-style: none;
}

.footer-links li{
    margin-bottom: 15px;
}

.footer-links a {
    color: rgb(255, 214, 127);
    text-decoration: none;
    transition: all 0.3 ease;

}

.footer-links a:hover{
    color: rgb(255,214,127);
    padding-left: 5px;

}

.social-links{
    display: flex;
    margin-top: 30px;
    /*gap: 60px;*/
 
}
/* This social-links a{
for facebook etc*/
.social-links i{
display:flex;
align-items: center;
justify-content: center;
width: 40px;
height: 40px;
margin: 3px;
background-color: rgba(255,255,255,0.1);
border-radius: 50%;
font-size: 18px;
transition: all 0.3s ease;

}
.copyright{
    text-align: center;
    padding-top: 30px;
    border-top: 1px solid rgba(255,255,255,0.1);
    color: rgb(255,214,127);
    font-size: 15px;


}





















